/*
 * openwms.org, the Open Warehouse Management System.
 * Copyright (C) 2014 Heiko Scherrer
 *
 * This file is part of openwms.org.
 *
 * openwms.org is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as 
 * published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * openwms.org is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this software. If not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 *
 * Main colors:
 * blue     : 2e7bb1
 * yellow   : e1e76b 
 * light-blue   : c9dcea
 * lighter-blue : edf4fa
 */
body {
/*	font-family: Verdana, Helvetica, sans-serif; */
/*    font-size: 11px; */
}

/*
   Button Bar
*/

.button-bar {
    padding-bottom: 10px;
    float: left;
    margin-right: 30px;
}

/*
   Navi Leiste
 */
.navbar {
    min-height: 0px;
}

.navbar .nav > li > a {
    padding-bottom: 2px;
    padding-top: 2px;
}

.nav-list > li > a {
    vertical-align: middle;
}

#buildno {
    float: right;
    font-size: smaller;
    font-style: italic;
    color: lightsteelblue;
}


.left-padded5 {
    padding-left: 5px;
}



/*
 Login Dialog
 */
.login-dialog {
    width: 450px;
}

/**********************************************
 * Users Page
 **********************************************/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
    width: 200px;
}
.left-inner-addon span {
    position: absolute;
    padding: 10px 20px;
    pointer-events: none;
    color: #cecece;
}
.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;
    width: 200px;
}
.right-inner-addon span {
    position: absolute;
    right: 0px;
    padding: 10px 20px;
    pointer-events: none;
    color: #cecece;
}
.users-card {
    display: block;
    float: left;
    padding: 10px;
    margin-bottom: 10px;
}

.users-inner-card {
}

/*
 Selected cards are colored with a gradient.
 */
.users-card-active {
    background-color: #adff2f;
    background-image: -moz-linear-gradient(top, #f2f2f2, #e1e76b);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#e1e76b));
    background-image: -webkit-linear-gradient(top, #f2f2f2, #e1e76b);
    background-image: -o-linear-gradient(top, #f2f2f2, #e1e76b);
    background-image: linear-gradient(to bottom, #f2f2f2, #e1e76b);
}
.users-card-key {
    font-weight: bold;
    padding-left: 10px;
}
.users-card-content {
    padding-left: 10px;
    white-space: nowrap;
}

.users-form-left-col {
    padding-left: 15px;
}

/*
 Roles
 */


/*
 Common UI components
 */
.named-div {
    margin-left:0px;
    background-color: #c9dcea;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 5px;
}

/**********************************************
 * Header / Footer / Menu
 **********************************************/
.header-area {
    height: 66px;
    margin: 10px auto 0px auto;
    border: 1px solid transparent;
}

.header-menu {
    height: 25px;
    position: relative;
}

.subheader-button-area {
    border-bottom-width: thin;
    border-bottom-style: solid;
    border-bottom-color: #0088cc;
    margin-bottom: 20px;
}

.userNameListFont {
	font-size: 10pt;
	font-weight: bold;
	horizontalAlign: "left";
}

.userFullnameListFont {
	font-size: 8pt;
	horizontalAlign: "left";
}

.userListItem {
	border-style: solid;
	border-shickness: 2;
	border-color: #f9f9f9;
	fill-colors: #419af2, #0865c4;
	fill-alphas: 1, 1;
	drop-shadow-enabled: true;
	topCornerRadius: 0;
	bottomCornerRadius: 0;
	corner-radius: 0;
	header-height: 0;
}

.selectedUserListItem {
	border-style: solid;
	border-shickness: 2;
	border-color: #f9f9f9;
	fill-colors: #f1f07c, #f1f07c;
	fill-alphas: 1, 1;
	drop-shadow-enabled: true;
	topCornerRadius: 0;
	bottomCornerRadius: 0;
	corner-radius: 0;
	header-height: 0;
	backgroundColor: #f1f07c;
}

.userListContainer {
	paddingLeft: 0px;
	paddingRight: 0px;
	paddingTop: 0px;
	paddingBottom: 0px;
	horizontalAlign: "left";
}

.content-area {
    width: auto;
    padding: 10px 0px 10px 0px;
    margin: 10px 20px 15px 20px;
}

.left-padded0 {
    padding-left: 0px;
}
.right-padded0 {
    padding-right: 0px;
}


/* Addon for UI-Bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/*
.modal {
    display: block;
    height: 0;
    overflow: visible;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}
*/
